.bookSection__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookSection__imgWrapper {
    margin-top: 20px;
}

.bookSection__img {
    width: 100%;
}

.bookSection__title {
    font-size: 6vw;
}

.bookSection__autor {
    margin-top: 5px;
}

.bookSection__specific {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: #828282;
}

.bookSection__price {
    font-family: "Playfair Display", Times, serif;
    font-size: 6vw;
    margin-top: 10px;
}

.bookSection__description {
    text-align: center;
    margin-top: 10px;
    line-height: 24px;
}

.bookSection__readMore {
    color: #53889D;
    padding: 0;
    border: none;
    background-color: transparent;
}

.bookSection__buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 32px;
}

.bookSection__button {
    color: #FFFFFF;
    background-color: #D96F6E;
    font-family: "Montserrat", Times, serif;
    border: none;
    font-weight: 600;
    margin: 4px;
    width: 70vw;
    height: 40px;
    border-radius: 8px;
}

.bookSection__button_peach {
    background-color: #F3A492;
}

.bookSection__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4F4F4F;
    text-align: center;
    margin-bottom: 10px;
}

.bookSection__content {
    display: flex;
}

.bookSection__tag {
    width: 36vw;
    height: 2.5vh;
    border-radius: 8px;
    padding: 2px;
}

.bookSection__genres a {
    text-decoration: none;
    text-align: center;
}

.bookSection__tag_yellow-pink {
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
    margin-right: 5px;
}

.bookSection__tag_blue-baby {
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
    margin-left: 5px;
}

.bookSection__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-top: 5px;
}

.bookSection__social {
    margin-right: 20px;
    max-width: 100%;
}

.bookSection__share {
    margin-bottom: 32px;
}

.sliderSection{
    margin-bottom: 65px;
}

.book__price {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #D96F6E;
}

@media screen and (min-width:768px) {
    .desktop_hidden {
        display: none;
    }

    h3 {
        font-size: 30px;
    }

    .bookSection__title {
        font-size: 40px;
    }

    .bookSection__price {
        font-size: 40px;
    }

    .bookSection__imgWrapper {
        width: 20%;
    }

    .bookSection__button {
        width: 300px;
    }

    .bookSection__header {
        font-size: 26px;
    }

    .sliderSection__inner {
        margin: auto;
        width: 88%;
        text-align: center;
    }

    .sliderSection__content {
        justify-content: center;
    }

    .book__image_smaller {
        height: 320px;
    }
    .book__price {
        font-size: 15px;
    }
}

@media screen and (min-width:420px) {
    .bookSection__tag {
        width: 130px;
        height: 22px;
    }
}

@media screen and (max-width:419px) {
    .bookSection__text {
        margin-top: 2px;
    }
}