.bookSection__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookSection__imgWrapper {
    margin-top: 20px;
}

.bookSection__img {
    width: 100%;
}

.bookSection__title {
    font-size: 6vw;
}

.bookSection__autor {
    margin-top: 5px;
}

.bookSection__specific {
    margin-top: 5px;
    font-size: 12px;
    color: #828282;
}

.bookSection__price {
    font-family: "Playfair Display", Times, serif;
    font-size: 6vw;
    margin-top: 10px;
}

.bookSection__description {
    text-align: center;
    margin-top: 10px;
    line-height: 24px;
}

.bookSection__readMore {
    color: #53889D;
    padding: 0;
    border: none;
    background-color: transparent;
}

@media screen and (min-width:768px) {
    .desktop_hidden {
        display: none;
    }

    .bookSection__title {
        font-size: 40px;
    }

    .bookSection__price {
        font-size: 40px;
    }

    .bookSection__imgWrapper {
        width: 20%;
    }
}