h1,
h3 {
    font-family: "Playfair Display", Times, serif;
    margin: 0;
}

h3 {
    margin-bottom: 16px;
    font-size: 20px;
}

p {
    font-family: "Montserrat", Times, serif;
    margin: 0;
}

.container {
    width: 100%;
}

.container__row {
    width: 88%;
    margin: auto;
    min-height: 48px;
}

.headerSection {
    box-shadow: 0 4px 16px rgba(78, 55, 55, 0.15);
}

.headerSection__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSection__title {
    font-family: "Montserrat", Times, serif;
    font-weight: 700;
    color: #4F4F4F;
    text-decoration: none;
}

.headerSection__title:hover {
    text-decoration: underline;
}

.headerSection__search {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

.footerSection {
    position: fixed;
    bottom: 0;
    box-shadow: 0px -2px 16px rgba(78, 55, 55, 0.1);
    background-color: #FFFFFF;
}

.footerSection__inner {
    display: flex;
    justify-content: space-around;
    padding: 12px 0 0 0;
}

.footerSection__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footerSection__icon {
    height: 24px;
}

.footerSection__title {
    color: #BBD1D9;
    font-size: 10px;
}

.footerSection__title_brighter {
    color: #53889D;
}

.sliderSection__inner {
    margin-left: 6%;
}

.sliderSection__item>a {
    text-decoration: none;
}

.sliderSection__item {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.sliderSection__item:first-child {
    margin-left: 0;
}

.sliderSection__content {
    display: flex;
    overflow-x: auto;
}

.sliderSection__content::-webkit-scrollbar {
    display: none;
}

.book__title {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    max-width: 145px;
}

.book__author_light {
    color: #4F4F4F;
    font-size: 12px;
    line-height: 140%;
}

@media screen and (max-width: 767px) {
    .mobile_hidden {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .desktop_hidden {
        display: none;
    }

    .headerSection__nav {
        display: flex;
        gap: 20px;
    }

    .headerSection__title_light {
        color: #918f8f;
    }

    .headerSection__search {
        margin-right: 20px;
    }

    .book__image {
        height: 450px;
    }

    .book__title {
        font-size: 20px;
        line-height: 31px;
        margin: 0;
        max-width: 300px;
    }

    .book__author_light {
        font-size: 16px;
    }

    .footerDesktop {
        box-shadow: 0px -2px 16px rgba(78, 55, 55, 0.1);
        background-color: #FFFFFF;
    }

    .footerDesktop__inner {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 60px;
    }
}