h3 {
    font-size: 20px;
}

.welcomeSection__header {
    font-size: 31px;
    margin-top: 48px;
    margin-bottom: 18px;
}

.welcomeSection__description {
    font-size: 4vw;
    line-height: 24px;
}

.sliderSection {
    margin-top: 30px;
}

.card__bg {
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.2);
}

.card {
    position: relative;
}

.card__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.card__title {
    font-size: 25px;
    line-height: 25px;
}

.card__content_listOne {
    color: #fff;
    position: absolute;
    top: 30px;
    left: 15px;
}

.card__title_pink {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    color: #D96F6E;
}

.card__number_top,
.card__number_bottom,
.card__title_pink {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.card__number_top {
    top: 0;
}

.card__number_bottom {
    bottom: 16px;
}

.card__title_pink {
    top: 52px;
}

.card__number {
    font-family: "Playfair Display", Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    background: linear-gradient(90deg, #D96F6E 0%, #F2D05C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.card__icon_left {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 16px;
    top: 46px;
}

.card__icon_right {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 16px;
    top: 46px;
}

.authorsSection__itemName {
    text-align: center;
    color: #000;
    font-size: 12px;
}

.sliderSection__item_link {
    text-decoration: none;
}

.authorsSection__avatar {
    border-radius: 50%;
}

.sliderSection__content_book {
    margin-bottom: 30px;
}

.genresSection {
    margin-top: 30px;
    margin-bottom: 50px;
}

.genresSection__title {
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
}

.genresSection__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

.genresSection__item {
    display: grid;
    justify-items: center;
    width: 76px;
    height: 76px;
}

.genresSection__icons {
    width: 76px;
    height: 76px;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
}

.genresSection__icons_img {
    padding-left: 20px;
    padding-top: 20px;
}

.genresSection__text {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #4F4F4F;
    text-decoration: none;
    text-align: center;
}

@media screen and (min-width:768px) {
    h3 {
        font-size: 30px;
    }

    .welcomeSection__header {
        font-size: 51px;
        margin-bottom: 24px;
    }

    .welcomeSection__description {
        font-size: 24px;
        line-height: 36px;
    }

    .card__bg {
        height: 200px;
    }

    .card__icon {
        width: 50px;
    }

    .card__subtitle {
        font-size: 20px;
        line-height: 30px;
    }
    
    .card__title {
        font-size: 35px;
        line-height: 35px;
    }

    .card__content_listOne {
        top: 60px;
    }

    .card__number {
        font-size: 65px;
    }

    .card__title_pink {
        top: 82px;
    }

    .card__icon_left,
    .card__icon_right {
        top: 80px;
        height: 50px;
    }

    .authorsSection__avatar {
        height: 90px;
        padding-bottom: 5px;
        margin-left: 10px;
    }

    .authorsSection__itemName {
        font-size: 16px;
    }

    .genresSection__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(76px, 1fr));
        grid-template-rows: 1fr;
        column-gap: 20px;
    }

    .genresSection__text_none {
        display: none;
    }
}

@media screen and (max-width:370px) {
    .genresSection__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1290px) {
    .genresSection__content {
        row-gap: 55px;
    }
}
