.genresSection {
    width: 80%;
    margin: auto;
}

.genresSection__header {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.genresSection__box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.genresSection__minibox {
    display: grid;
    justify-items: center;
}

.genresSection__icons {
    width: 76px;
    height: 76px;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
}

.genresSection__icons a {
    display: block;
}

.genresSection__icons_img {
    padding-left: 20px;
    padding-top: 20px;
}

.genresSection__text {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #4F4F4F;
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .genresSection__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
}

.welcomeSection__header {
    font-size: 31px;
    margin-top: 48px;
    margin-bottom: 18px;
}

.welcomeSection__description {
    font-size: 16px;
    line-height: 24px;
}

@media screen and (min-width:768px) {
    .tablet_hidden {
        display: none;
    }

    .welcomeSection__header {
        font-size: 51px;
        margin-bottom: 24px;
    }

    .welcomeSection__description {
        font-size: 24px;
    }
}