h3 {
    font-family: "Montserrat", Times, serif;
    font-size: 16px;
    color: #333333;
}

.profileSection {
    margin-top: 40px;
}

.profileSection__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.profileSection__img {
    width: 100%;
}

.profileSection__name {
    text-align: center;
    margin-top: 16px;
    font-size: 32px;
}

.profileSection__geo {
    margin-top: 8px;
    color: #828282;
    font-size: 10px;
    letter-spacing: 0.16em;
}

.profileSection__counters {
    display: flex;
    text-align: center;
    margin-top: 24px;
}

.profileSection__following {
    margin-right: 44px;
}

.profileSection__followers {
    margin-left: 44px;
}

.profileSection__subtitle {
    font-size: 10px;
    color: #4F4F4F;
}

.profileSection__counter {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.favoriteSection__title {
    margin-bottom: 10px;
}

.favoriteSection__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.favoriteSection__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding-top: 5px;
}

.favoriteSection__content a {
    text-decoration: none;
    text-align: center;
}

.favoriteSection__tag {
    height: 24px;
    border-radius: 8px;
    margin: 5px;
}

.favoriteSection__tag_first {
    width: 79px;
}


.favoriteSection__tag_second {
    width: 81px;
}

.favoriteSection__tag_third {
    width: 123px;
}

.favoriteSection__tag_fourth {
    width: 149px;
}

.favoriteSection__tag_fifth {
    width: 87px;
}

.favoriteSection__tag_sixth {
    width: 173px;
}

.favoriteSection__tag_seventh {
    width: 102px;
}

.favoriteSection__tag_blue-baby {
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
}

.favoriteSection__tag_pink-blush {
    background: linear-gradient(90deg, #F3A492 0%, #D96F6E 100%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
}

.favoriteSection__tag_yellow-pink {
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
}

.favoriteSection__tag_baby-yellow {
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
}

.favoriteSection__tag_blush-yellow {
    background: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
}

.sliderSection__count,
.wishlistSection__count {
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #53889D;
    margin-left: 5px;
}

.sliderSection {
    margin-bottom: 50px;
}

.sliderSection__content {
    margin-bottom: 25px;
}

.sliderSection__viewAll {
    display: block;
    text-align: center;
}

.viewAll {
    font-family: "Montserrat", Times, serif;
    font-weight: 600;
    font-size: 12px;
    color: #D96F6E;
}

.wishlistSection__title {
    margin-bottom: 16px;
    margin-top: 48px;
}

.wishlistSection__content {
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
}

.wishlistSection__books {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.wishlistSection__viewAll {
    display: flex;
    justify-content: center;
}

.wishlistSection__img {
    width: 100%;
    height: auto;
}

@media screen and (min-width:768px) {
    h3 {
        font-size: 26px;
    }

    .profileSection__inner {
        margin-bottom: 65px;
    }

    .profileSection__photo {
        width: 35%;
    }

    .profileSection__name {
        font-size: 55px;
    }

    .profileSection__geo {
        font-size: 17px;
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .profileSection__subtitle {
        font-size: 17px;
    }

    .profileSection__counter {
        font-size: 30px;
    }

    .favoriteSection__genres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .viewAll {
        font-size: 20px;
    }

    .wishlistSection__content {
        gap: 15px;
    }

    .wishlistSection__books {
        gap: 13px;
    }

    .footerDesktop {
        margin-top: 40px;
    }

}

@media screen and (max-width:1190px) {
    .wishlistSection__books {
        width: 50%;
    }
}

@media screen and (min-width:1190px) {
    .wishlistSection__content {
        gap: 15px;
        margin-bottom: 25px;
    }

    .wishlistSection__books {
        flex-direction: row;
        gap: 15px;
    }

    .wishlistSection__img {
        height: 280px;
        width: auto;
    }
}

@media screen and (min-width:1024px) {
    .sliderSection__inner {
        width: 88%;
        margin: auto;
    }

    .sliderSection__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-x: hidden;
    }
}

@media screen and (min-width:1024px) and (max-width:1034px) {
    .sliderSection__content {
        justify-content: center;
    }
}